

<div class="card">
                                  
    <form>
      <br>
      <% bike.map((bike)=>{%>
      <div class="form-group row" >
        <label id="form-label" for="inputSerial" class="col-sm-2 col-form-label"><strong>Serial</strong></label>
        <div class="col-sm-10">
   
          <input type="number" class="form-control" id="inputSerial" placeholder=" <%= bike.serial %>" readonly>
          
        </div>
      </div>
    
      <div class="form-group row">
        <label id="form-label" for="inputBrand" class="col-sm-2 col-form-label"><strong>Brand</strong></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputBrand" placeholder="<%= bike.brand %>" readonly>
          
        </div>
      </div>
      <div class="form-group row">
        <label id="form-label" for="inputColor" class="col-sm-2 col-form-label"><strong>Color</strong></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputColor" placeholder="<%= bike.color %>" readonly>
        </div>
      </div>
      <div class="form-group row">
        <label id="form-label" for="inputType" class="col-sm-2 col-form-label"><strong>Type</strong></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputType" placeholder="<%= bike.type %>" readonly>
        </div>
      </div>
      <div class="form-group row">
        <label id="form-label" for="inputType" class="col-sm-2 col-form-label"><strong>Status</strong></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputType" placeholder="<%= bike.status %>" readonly>
        </div>
      </div>
     
          
        

       
      </fieldset>
      <div class="form-group row">
        <div class="col-sm-2"><strong>Locker</strong></div>
        <div class="col-sm-10">
          <div class="form-check">
           
              <h6><%= bike.locker %></h6>
           
         
          </div>
        </div>
      </div>
      
      <button type="button"   class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="">UPDATE</button>
      <div class="form-group row">
        
        
       
      </div>
      
    </form>
    <%  }); %>
    
    
    
    
    
    
    
    
  
  </div>
</div>
