<!DOCTYPE html>

<html lang="en">

<!-- PRESENT THE BIKES THAT MATCH A CRITERIA
    IN FIND BIKES /BIKE INFO
    https://www.codeply.com/go/AxMtnBNLm9/bootstrap-4-dynamic-dismissable-cards-grid
  -->

  <head>

    <title> TrackMyRide </title>
  
    <!-- add icon link -->
    <link rel = "icon" href = "https://user-images.githubusercontent.com/33750251/64987392-f9eead80-d8c0-11e9-84a9-e2a4a7f624db.png"
        type = "image/x-icon"> 
  
    
    <!-- Font Awesome Script -->
    <script src="https://kit.fontawesome.com/5c19bf284e.js"></script>
  
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!-- Responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  
   <!-- Scripts -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<body>
  <style>
    body, html {
        height: 100%;
          width: 100vw;
        } 
     body{
      background-image: linear-gradient(45deg, #ffa033b4, #f19f40c4);
     
    }

    .d-flex h2{
      color: rgba(10, 114, 79, 0.774);

    }
  
  </style>


   <!-- Top Navbar -->
   <nav id="mainNav" class="navbar navbar-dark bg-transparent navbar-expand-md py-0 static-top " >
    <div class="d-flex bg-secondary"></div>
    <div class="p-2 mr-auto">
      <% if(userId == undefined){ %>
      <a class=" text-light  p-1"  href="/bikeinfo"  id="home" ><i class="fas fa-arrow-alt-circle-left"></i> Back</a>
      
      <%}else{%>
        <a class=" text-light  p-1"  href="/welcomescreen"  id="home" ><i class="fas fa-arrow-alt-circle-left"></i> Back</a>
       
        <%}%>
    </div>
  </nav>



  <!--  Content-->
  <div class="container">
    <div class="row" id="contentPanel">
    </div>
  </div>
  </div>


  <!-- Modal https://mdbootstrap.com/docs/jquery/modals/basic/ -->
  <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <%- locals.flash %>
        <form action="/reportBikeInfo/<%=bikeInfoPage._id%>" method="POST">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Is there anything suspicious with this bike?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <textarea id="bikeTxt" required="" value="<%bikeInfoPage._id%>" name="description"
              placeholder="Write something.."></textarea>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="save">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <%for (var i = 0; i<bikeInfoPage.length; i++){%>


  <tr>
    <td><%=bikeInfoPage[i].serial%></td>
    <td><%=bikeInfoPage[i].brand%></td>
    <td><%=bikeInfoPage[i].status%></td>
  </tr>

  <%  } %>
  <!--Importing the Scripts from Layout-->

 
  <script>

    var x = `<%bikeInfoPage%>`
    let array = [];
    console.log(typeof x);

    //  x.array.forEach(element => {
    //    console.log("it worked");
    //  });

    array.push({
      // Brand: "<%=bikeInfoPage.brand%>",
      Brand: "<%=bikeInfoPage.brand%>",
      Status: "<%=bikeInfoPage.status%>"
    });

    var tasks = [{
      "title": "home",
      "color": "blue",
    },
    {
      "title": "city",
      "color": "green",
    }
    ];




    var num = array.length;
    console.log(num);


    var addCols = function (num, array) {


      //Make i the array i
      for (var i = 1; i <= num; i++) {
        var myCol = $('<div class="col-sm-6 col-md-4 pb-2"></div>');
        var myPanel = $('<div class="card-deck"><div class="card border-success mb-3" id="' + i +
          'Panel"><div class="card-block">    <img class="card-img-top" src="https://cdn.webshopapp.com/shops/219098/files/302607843/second-hand-s-h-bike-cuda-bolt-kids-road-24w-priva.jpg" alt="Card image cap"><div class="card-title"><span>Bike ' + i +
          '</span></div><p>Brand: <%=bikeInfoPage.brand%></p>' + '<p>Status: <%=bikeInfoPage.status%></p>' +
          '<button type="button" id="modalDisplay" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal"> Report This Bike</button>' +
          ' </div></div></div>');

        myPanel.appendTo(myCol);
        myCol.appendTo('#contentPanel');
      }

    };


    //Display cards with image and details
    //as soon as page loads
    $(document).ready(function () {
      addCols(num, array);
      // addCols($('#numPanels').val());
      return false;

    });

    //Delete text previously inserted in the modal text area
    $(document).on('hidden.bs.modal', function (e) {
      $('.modal-body textarea').each(function () {
        $(this).val('');
      });
    });


    //TO DEVELOPD - A FUNCTION TO VALIDATE IF TEXT AREA IS EMPTY
    
    
   // When save button is clicked, save content from
    //text area in the $select_value variable
    $('#save').click(function () {
      //  if($('.modal-body textarea').val('')){
          // console.log("Text area is empty");
  
      //  }


        $select_value = $("#bikeTxt").val();
      
    //    $('#basicExampleModal').modal('hide');  
    });

//       var tasks = [{
//         "title": "home",
//         "color": "blue",
//     },
//     {
//         "title": "city",
//         "color": "green",
//     }
// ];
// tasks.push({
//         "title": "<%=bikeInfoPage.brand%>",
//         "color": "<%=bikeInfoPage.status%>",});

// let cardContainer;

// let createTaskCard = (task) => {

//     let card = document.createElement('div');
//     card.className = 'card shadow cursor-pointer';

//     let cardImg = document.createElement('div');
//     cardImg.className = 'card-img-top';

//     let cardBody = document.createElement('div');
//     cardBody.className = 'card-body';

//     let title = document.createElement('h5');
//     title.innerText = task.title;
//     title.className = 'card-title';

//     let color = document.createElement('div');
//     color.innerText = task.color;
//     color.className = 'card-color';

//     let img = document.createElement('div');
//     img.innerText = task.img;
//     img.className = 'card-img';


//     cardBody.appendChild(img);
//     cardBody.appendChild(title);
//     cardBody.appendChild(color);

//     card.appendChild(cardImg);  
//     card.appendChild(cardBody);
//     cardContainer.appendChild(card);

// }

// let initListOfTasks = () => {
//     if (cardContainer) {
//         document.getElementById('card-container').replaceWith(cardContainer);
//         return;
//     }

//     cardContainer = document.getElementById('card-container');
//     tasks.forEach((task) => {
//         createTaskCard(task);
//     });
// };


// initListOfTasks();
  </script>


  <%-include('layouts/scripts'); -%>
</body>

</html>