<!DOCTYPE html>
<!--Managebike Page-->
<!--Manage Bike contains components extracted from Bootstrap.-->
<html lang="en">

<!-- Header -->
  <%-include('layouts/header-managebike'); -%>
          
    
  <body>
    
    <!-- Navbar -->
  <%- include('layouts/managebikenavbar') %>

  
  <!-- Navigation -->

  <div class="card">

     <!--Carousel and Bike Form-->

  <%- include('layouts/carousel') %>
   </div>
   <!--End of card-->


    <!--Modal for Update a user bike.-->
  <%-include('layouts/modal'); -%>
  <!--Modal to upload a picture-->
  <%-include('layouts/uploadPictureModal'); -%>
  <!--All scripts for this page are located in here-->
   <%-include('layouts/managebikescripts'); -%>

   
   
   
  </body>

</html>
