<!DOCTYPE html>
<html lang="en">
  <!--Importing the Header Layout Element-->
  <%-include('layouts/header'); -%>

  <body>
    <%-include('layouts/background'); -%>

    <!--Importing Navbar from Layout element-->
    <%-include('layouts/navbar'); -%>

    <!--Importing the Script Layout element-->
    <%-include('layouts/scripts'); -%> <%-include('layouts/footer'); -%>
  </body>
</html>
