<!-- DISPLAY THE REGISTER USER ACCOUNT AND 
DETAILS -->


<!-- Header tags -->
<%-include('layouts/Profile/profile_header'); -%>

<!-- Specific Style tags -->
<%-include('layouts/Profile/profile_style'); -%>

<body>

  <!--No bike no Data = true -->
  <% var noData; %>

  <!-- Top Navbar -->
  <nav id="mainNav" class="navbar navbar-dark bg-transparent navbar-expand-md py-0 static-top ">
    <div class="d-flex bg-secondary"></div>
    <div class="p-2 mr-auto">
      <% if(userId == undefined){ %>
      <a class=" text-light  p-1" href="/consult" id="home"><i class="fas fa-arrow-alt-circle-left"></i> Back</a>
      <%}else{%>
      <a class=" text-light  p-1" href="/welcomescreen" id="home"><i class="fas fa-arrow-alt-circle-left"></i> Back</a>
      <%}%>
      </div>
    </nav>
  
  
    <!-- Card profile https://getbootstrap.com/docs/4.3/components/card/ -->
<div class="container" id="profileContainer">
  <div class="card text-center">

    <%if (profilePic ==null) {%>
      <div class="outter"><img src="https://pbs.twimg.com/profile_images/444514088354197504/Nnxts7O_.jpeg"
          class="circular" />
        <%  } else{ %>

        <div class="outter"><img src="/uploads/<%= userId %>.jpg" class="circular" />
          <%   } %>
          <div>

            <form name="addPicture" id="addPicture" action="/addPicture/<%= userId%>" method="POST"
              enctype="multipart/form-data">
              <div class="form-group floating-label-form-group controls">
                <input type="file" class="form-control" id="image" name="MyImage" accept="image/*" multiple>
              </div>
              <button type="submit" class="btn btn-outline-success"> Upload profile picture</button>
            </form>
          </div>
        </div>
        <!-- Tabs Titles -->
        <!-- Server messages to the user -->
        <%- locals.flash %>
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs" id="tabs">
            <li class="nav-item">
              <a class="active nav-link active" href="#bikes" data-toggle="tab">My Bikes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#account" data-toggle="tab">My account</a>
            </li>
          </ul>
        </div>
        <!-- Card body and tabs-pane -->
        <div class="card-body">
          <div class="tab-content">
            <!-- TAB 1 -->
            <!-- How many bikes user have-->
            <div class="tab-pane active" id="bikes">
              <form>
                <div class="form-group row mx-sm-3 mb-2">
                  <label for="bikes" class="col-sm-2 col-form-label">Registered Bikes</label>
                  <div class="col-sm-10">
                    <%if (locals.bikeCount==null ) {%>

                    <input type="text" readonly class="form-control" id="bikes" placeholder="Nothing registered">
                    <% } else{ %>

                    <input type="text" readonly class="form-control" id="bikes" placeholder="<%=bikeCount%>">
                    <% } %>
                  </div>
                </div>
                <!-- Any suspicious activity reported for user -->
                <div class="form-group row mx-sm-3 mb-2">
                  <label for="activity" class="col-sm-2 col-form-label">Latest Reports </label>
                  <div class="col-sm-10">
                    <%if (noData || userBikeDetails==null) {%>

                    <input type="text" readonly class="form-control" id="activity"
                      placeholder="Nothing Reported About Your Bike">
                    <%  }else { %>

                    <input type="text" readonly class="form-control" id="activity"
                      placeholder="<%=userBikeDetails.report[0]%>">
                    <%  } %>

                  </div>
                </div>
              </form>
              <hr />
              <p class="card-text">You can update your bike details in Manage My Bike</p>
              <a href="/managebike"> <button type="submit" class="btn btn-success">Take me there</button> </a>
            </div>

            <!-- TAB 2-->
            <!-- Username -->
            <div class="tab-pane fade " id="account">
              <form>
                <div class="form-group row mx-sm-3 mb-2">
                  <label for="username" class="col-sm-3 col-form-label">Username</label>
                  <div class="col-sm-8">
                    <input type="email" readonly class="form-control" id="username" value="<%=accountDetails.email%>">
                  </div>
                </div>
                <!-- GDPR -->
                <div class="form-group row mx-sm-3 mb-2">
                  <label for="gdpr" class="col-sm-3 col-form-label">Terms And Conditions </label>
                  <div class="col-sm-8">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                      Check Terms And Conditions
                    </button>
                  </div>
                </div>
                <hr />
                <button type="button" class="btn btn-primary" id="updateP" data-toggle="modal"
                  data-target="#pass">Update password</button>
                <a href='/'><button type="button" class="btn btn-success" id="logout">Logout</button></a>
                <button type="button" class="btn btn-danger" id="deleteAcc" data-toggle="modal"
                  data-target="#myModal">Delete Account</button>
              </form>
            </div>
          </div>
          <!--tab content ends -->
        </div>
        <!--card body ends -->
      </div>
      <!--card text ends -->
    </div>
    <!--container body ends -->

    <!-- Bootstrap modal from https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=modal -->
    <!-- Delete account Modal -->
    <div id="myModal" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete profile?</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <p>If you delete your profile all your data will be lost</p>
          </div>
          <div class="modal-footer">
            <form action="/deleteaccount/<%=userId%>" method="POST">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-danger" id="delete">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div> <!-- modal ends  -->

    <!-- Update password Modal -->
    <div id="pass" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">New Password</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <p>Insert the new password</p>
          </div>
          <div class="modal-footer">
            <form action="/updatepassword/<%=userId%>"" method=" POST" name="update">
              <!-- Password -->
              <div class="form-group row mx-sm-3 mb-2">
                <label for="password" class="col-sm-3 col-form-label">New Password </label>
                <div class="col-sm-8">
                  <input type="password" class="form-control" id="password" name="updatedPass">
                </div>
                <label for="password" class="col-sm-3 col-form-label">Retype Password </label>
                <div class="col-sm-8">
                  <input type="password" class="form-control" id="passwordCheck">
                </div>
              </div>

              <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-success" id="updatePass">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div> <!-- modal ends  -->

    <!-- GDPR Modal -->
    <%-include('layouts/GDPR/gdprModal'); -%>

<script>
      // Delete the account modal
      $(document).ready(function () {
        $('#deletAcc').click(function () {
          event.preventDefault();
          $("#myModal").modal('show');

          // Validationr for form 
          $("form[name='update']").validate({
            rules: {
              password: {
                minlength: 5,
                required: true
              },
              password_confirm: {
                minlength: 5,
                equalTo: "#password",
                required: true
              }
            },
            messages: {
              required: "Please enter a valid password",

            },
            submitHandler: function (form) {
              form.submit();
            }
          })
        });

      });
    </script>
</body>

</html>