<!DOCTYPE html>
<html lang="en">
  
   
      
    <!-- add icon link -->
    <link rel = "icon" href =  
  "https://user-images.githubusercontent.com/33750251/64987392-f9eead80-d8c0-11e9-84a9-e2a4a7f624db.png"
    type = "image/x-icon"> 

    <!-- Responsiveness IF ACTIVE THE BIKE DOES NOT MOVE-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> </head>

  
  <!-- Font Awesome Script -->
  <script src="https://kit.fontawesome.com/5c19bf284e.js"></script>
  
    
  
  <!--Importing the Header Layout element-->
  <%-include('layouts/login2_header'); -%>
  
  <body>

       <!-- Top Navbar -->
       <nav id="mainNav" class="navbar navbar-dark bg-transparent navbar-expand-md py-0 static-top " >
        <div class="d-flex bg-secondary"></div>
        <div class="p-2 mr  -auto">
        
          <a class=" text-light  p-1"  href="/"  id="logout" ><i class="fas fa-sign-out-alt"></i> Logout</a>
        </div>
      </nav>
    

  

  <div class="login">
    <p class="main-txt" style="font-family: pacifico;color: white;font-size: 23px;margin-left: 45px;">
      Track My Ride
      <i id="bike-icon" class="material-icons"  >directions_bike</i></p>
      
      
      
      <!--When submitting the form the browser will make a POST request to the /signin/store endpoint.Check Index.js-->
       <a><button id="btn-consult" class="btn btn-primary btn-block btn-large" data-toggle="modal" data-target="#exampleModalCenter">MANAGE BIKE</button></a>
      
       <a href="/consultmap"><button id="btn-consult" type="submit"class="btn btn-primary btn-block btn-large" ">MAP INCIDENTS</button></a>

       <a href="/bikeinfo"><button id="btn-consult" type="submit"class="btn btn-primary btn-block btn-large" ">CONSULT BIKE SERIAL</button></a>

       <a href="/profile"><button id="btn-consult" type="submit"class="btn btn-primary btn-block btn-large" ">MY PROFILE</button></a>
    
     <!-- Button trigger modal -->

 

     
  </div>
  

  

    <%-include('layouts/welcomescreen-scripts'); -%> 
    <%-include('layouts/modalmainscreen'); -%>
    <%-include('layouts/registerBikeModal'); -%>
    <%-include('layouts/firstRegModal'); -%>
    
   

    <!-- Bootstrap core JavaScript -->
    
      <!--To use bootstrap Modal
      -->

     
      <script>
     
    
     // Wait for the DOM to be ready
$(function() {
  // Initialize form validation on the registration form.
  // It has the name attribute "registration"
  $("form[name='addbike']").validate({
    // Specify validation rules
    errorClass : 'validationmessage',
    rules: {
      // The key name on the left side is the name attribute
      // of an input field. Validation rules are defined
      // on the right side
      serial: "required",
      color: "required",
      brand:"required",
      type:"required",
      status:"required",
      locker:"required",
     
    },
    // Specify validation error messages
    messages:{
      serial: "It is necessary to enter a Serial Number",
      color: "Please define a color",
      brand: "Define your bike Brand",
      type:"Ex.Road,Montain,Hybrid,Folding,Cyclocross",

    },
    // Make sure the form is submitted to the destination defined
    // in the "action" attribute of the form when valid
    submitHandler: function(form) {
      form.submit();
    }
  });
});
$(document).ready(function(){
    $("#submitBtn").click(function(){        
        $("#addbike").submit(); // Submit the form
        $(".form-control mb-2").prop('required',true);
       
    });
     });


     // Initialize form validation on the registration form.
  // It has the name attribute "registration"
  $("form[name='addbike2']").validate({
    // Specify validation rules
    errorClass : 'validationmessage',
    rules: {
      // The key name on the left side is the name attribute
      // of an input field. Validation rules are defined
      // on the right side
      serial: "required",
      color: "required",
      brand:"required",
      type:"required",
      status:"required",
      locker:"required",
     
    },
    // Specify validation error messages
    messages:{
      serial: "It is necessary to enter a Serial Number",
      color: "Please define a color",
      brand: "Define your bike Brand",
      type:"Ex.Road,Montain,Hybrid,Folding,Cyclocross",

    },
    // Make sure the form is submitted to the destination defined
    // in the "action" attribute of the form when valid
    submitHandler: function(form) {
      form.submit();
    }
  });

$(document).ready(function(){
    $("#submitBtn2").click(function(){        
        $("#addbike2").submit(); // Submit the form
        $(".form-control mb-2").prop('required',true);
       
    });
     });
     

     

    

    

   
     
     

     


    
    </script>

    
  
  </body>
</html>
