<!DOCTYPE html>
<html lang="en">
  
   
      
    <!-- add icon link -->
    <link rel = "icon" href =  
  "https://user-images.githubusercontent.com/33750251/64987392-f9eead80-d8c0-11e9-84a9-e2a4a7f624db.png"
    type = "image/x-icon"> 
    
  
  <!--Importing the Header Layout element-->
  <%-include('layouts/login2_header'); -%>
  <body>
  <div class="login">
    <p class="main-txt" style="font-family: pacifico;color: white;font-size: 23px;margin-left: 45px;">
      Track My Ride
      <i id="bike-icon" class="material-icons"  >directions_bike</i></p>
     
      <form>
      <!--When submitting the form the browser will make a POST request to the /signin/store endpoint.Check Index.js-->
       <button id="btn-consult" type="submit"class="btn btn-primary btn-block btn-large" formaction="/callmodal">MANAGE BIKE</button>

       <button id="btn-consult" type="submit"class="btn btn-primary btn-block btn-large" formaction="/consultmap">MAP INCIDENTS</button>

       <button id="btn-consult" type="submit"class="btn btn-primary btn-block btn-large" formaction="/bikeinfo">CONSULT BIKE</button>

       <button id="btn-consult" type="submit"class="btn btn-primary btn-block btn-large" formaction="/profile">MY PROFILE</button>
      <!-- <span class="link-password" -->
        <!-- ><a href="#">Forgotten your username or password?</a> -->
        <!-- <br /> -->
        <!-- <br /> -->
        <!-- <a href="/">Already a member? Login</a></span -->
      <!-- > -->
    <!-- </form> -->
  </div>
  

  
    <%-include('layouts/navbar'); -%> 
    <%-include('layouts/login2_scripts'); -%> 
    <%-include('layouts/modalmainscreen'); -%>
    <%-include('layouts/registerBikeModal'); -%>
    
  </body>
</html>
